:root {
    --main-cinza: #CCCCCC;
    --main-branco: #FFFFFF;
    --main-preto: #000000;
}

* {
    box-sizing: border-box;
}


body {
    background: url(../img/fundo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body, input {
    font-family: 'Teko', sans-serif;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.vessels {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   flex: 1 1 10%;
}

.vessel {
    width: 15em;
    height: auto;
    transform: translate(-10%, -5%);
}

.titulo {
    text-align: center;
    font-weight: 500;
    font-size: 5vw;
    line-height: 0.8;
    margin-right: 50px;
    color: rgba(255,255,255,0.8);
}

.box {
    background: rgba(0,0,0,0.6);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    border-left: 5px solid var(--main-cinza);
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.equipamentos {
    flex: 1 1 30%;
}

.montador {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.montador-conteudo {
    padding: 2em;
}

.peca {
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.peca-titulo {
    color: var(--main-branco);
    text-transform: uppercase;
    font-size: 1.5em;
}

.controle {
    background: var(--main-preto);
    border-radius: 25px;
    display: inline-flex;
    padding: 5px;
    align-items: center;
}

.controle2 {
    background: var(--main-preto);
    border-radius: 25px;
    display: inline-flex;
    padding: 5px;
    align-items: center;
    width: 100%;
}

.controle-contador-2 {
    background: none;
    border: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
}

.controle-contador {
    width: 40px;
    height: 35px;
    background: none;
    border: 0;
    margin: 0 1rem;
    color: var(--main-branco);
    text-align: center;
    font-size: 2.5em;
    display: inline-flex;
    align-items: center;
}

.controle-ajuste {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    color: var(--main-cinza);
    font-size: 2em;
    background: var(--main-preto);
    text-align: center;
    border: 3px solid var(--main-cinza);
    cursor: pointer;
}

.linha {
    border-color: var(--main-cinza);
}

.producao {
    margin-top: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.2em 4.6em;
    border: 3px solid var(--main-branco);
    background: var(--main-branco);
    clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    cursor: pointer;
}

.producao:hover {
    background: var(--main-preto);
    color: var(--main-branco);
}

.estatisticas {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estatistica {
    color: var(--main-branco);
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 1em;
    justify-content: center;
}

.estatistica-titulo {
    font-size: 2.2em;
    border-bottom: 1px solid var(--main-cinza);
    flex: 1;
    text-transform: uppercase;
}

.estatistica-valor {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estatistica-valor::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border: 1px solid var(--main-cinza);
    border-radius: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.estatistica-numero {
    position: relative;
    font-size: 2em;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 2.5vw;
    }
    .peca-titulo {
        font-size: 1.2em;
    }
    .controle-contador {
        font-size: 1.8em;
    }
    .controle-ajuste {
        font-size: 1.5em;
    }
    .producao {
        font-size: 1.2em;
    }
}
